.mp4 filter=lfs diff=lfs merge=lfs -text
.umap filter=lfs diff=lfs merge=lfs -text
Content/Hyper/AI/Creature/Teuthisan/Rig/SKM_Teuthisan_rig_v001.uasset filter=lfs diff=lfs merge=lfs -text
Content/Hyper/AutoLandScapeMaterial/Maps/Canyon/Map_Canyon.umap filter=lfs diff=lfs merge=lfs -text
Content/Hyper/AutoLandScapeMaterial/Maps/Mountain/Map_Mountain.umap filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*/map/*.umap filter=lfs diff=lfs merge=lfs -text
*/Rig/*rig_v001.uasset filter=lfs diff=lfs merge=lfs -text
Gideon_Status_Victory_040.uasset filter=lfs diff=lfs merge=lfs -text
*Gideon_Status_Victory_040.uasset filter=lfs diff=lfs merge=lfs -text
*T_Head_highpass_S.uasset filter=lfs diff=lfs merge=lfs -text
*1978_LargeRoom_IR.uasset filter=lfs diff=lfs merge=lfs -text
*Emote_FingerGuns_0* filter=lfs diff=lfs merge=lfs -text
*music_desert* filter=lfs diff=lfs merge=lfs -text
*T_*.uasset filter=lfs diff=lfs merge=lfs -text
*SmokeSwirl_3_Flipbook_CHANNELPACK.uasset filter=lfs diff=lfs merge=lfs -text
*SM_pine_tree_01.uasset filter=lfs diff=lfs merge=lfs -text
*SM_pine_tree_0* filter=lfs diff=lfs merge=lfs -text
